-# 画面右のチャット画面
.main-chat__contents
  -# グループ名、メンバーが表示されているところ
  .main-chat__group-info
    .main-chat__group-info__left-box
      %h2.main-chat__group-info__left-box__current-group 
        =@group.name
      %ul.main-chat__group-info__left-box__member-list 
        Member : 
        -@group.users.each do |user|
          %li.main-chat__group-info__left-box__member-list__member
            =user.name
    =link_to edit_group_path(@group.id), class: "edit-btn" do
      .main-chat__group-info__edit-btn Edit
  -# メッセージや画像が表紙されているところ
  .main-chat__message-list
    =render @messages
    -# = render partial: 'message', collection: @messagesと同じ事
    
      

  -# メッセージや画像を送信するフォーム部分
  -# 入力フォームが親要素になれないのでdiv要素で親要素を作る
  -# 親要素の中に2つの子要素を横並びにすることで、1つのフォームのように見えるよう実装
  .main-chat__message-form
    -# 入力フォームは親要素になれない    
    -# form_forの第１引数@groupにはどのグループのメッセージとして保存したいのか
    -# 第２引数@messageにはMessageモデルのからのインスタンス（Message.new）をあらかじめセットしておく必要があります。
    = form_for [@group,@message] do |f|
      = f.text_field :body, class: "input-box__text", placeholder: "メッセージを入力してください"
      .input-box
        -# ラベルの役割の1つは、ラベルがクリックされた時に、子要素もクリックされたことにしてくれること
        = f.label :image, class: "input-box__image" do
          = icon("far", "image", class: "input-box__image--icon")
          = f.file_field :image, class: "input-box__image--file"
      = f.submit "送信", class: "submit-btn" 